# Python __pycache__ and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal

# Django media and static files (if generated locally)
media/
staticfiles/
static_root/
media_root/

# VS Code settings
.vscode/

# macOS
.DS_Store

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# dotenv and secrets
.env
.env.*

# pipenv
Pipfile.lock

# migrations
/migrations/__pycache__/
/migrations/*.pyc

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
